/*#region Themes*/
:root {
    --red: rgb(245, 39, 39);
    --orange: rgb(240, 172, 46);
    --yellow: rgb(243, 247, 58);
    --green: rgb(104, 221, 36);
    --cyan: rgb(37, 190, 183);
    --blue: rgb(0, 26, 255);
    --magenta: rgb(217, 41, 240);
    --purple: rgb(108, 21, 167);
    --lilac: rgb(174, 117, 240);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(116, 116, 116);
    --pink: rgb(246, 152, 255);
    --brown: rgb(116, 82, 50);
    --transparent: transparent;

    /** Drop shadow effects and other things like UIDialog background */
    --drop-shadow: rgba(0,0,0,.2);
}

:root.light {
    background-color: rgb(248, 253, 255);
    --font: rgb(8, 8, 8);

    --panel: rgb(236, 236, 236);
    --panel-secondary: rgb(185, 185, 185);

    --primary: rgb(238, 239, 244);
    --secondary: rgb(170, 182, 243);
    --outline: rgb(181, 210, 225);

    --warn: rgb(143, 93, 0);
    --error: rgb(175, 12, 12);
}

:root.dark {
    background-color: rgb(8, 1, 18);

    --panel: rgb(22, 21, 24);
    --panel-secondary: rgb(85, 85, 85);

    --font: rgb(244, 244, 244);

    --primary: rgb(104, 64, 131);
    --secondary: rgb(99, 88, 154);
    --outline: rgb(162, 89, 152);

    --warn: rgb(255, 243, 79);
    --error: rgb(255, 79, 79);
}

/*#endregion Themes*/

/*#region Global/Body Styles*/
body {
    margin: 0;
}

* {
    color: var(--font);
    font-family: "Raleway";
    box-sizing: border-box;
}

/*#endregion Basic Global Styles*/

.holder {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.panel {
    padding: 0.75rem;
    gap: 0.75rem;
    background-color: var(--panel);
    border-radius: 0.5rem;
}

/*#region Quick Attributes*/
/*#region Flex*/
.f,
.c,
.cx,
.cy,
.row,
.col,
.gap,
.fill-children,
.between,
.evenly {
    display: flex;
}

.c,
.cx {
    justify-content: center;
    text-align: center;
}

.c,
.cy {
    align-items: center;
    text-align: center;
}

.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}

.gap {
    gap: 0.5rem;
}

.fill-children * {
    flex-grow: 1;
}

.fill,
.flex-fill,
.grow,
.flex-grow {
    flex-grow: 1;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.align-end {
    align-items: flex-end;
}

.f-wrap {
    flex-wrap: wrap;
}

/*#endregion Flex*/

/** Full width */
.fw {
    width: 100vw;
}

/** Full height */
.fh {
    height: 100vh;
}

.cursor {
    cursor: pointer;
}

/*#region Quick Text Styling*/
.bold,
.b {
    font-weight: bold;
}

.italic,
.italics,
.i {
    font-style: italic;
}

.u,
.underline {
    text-decoration: underline;
}

/*#endregion Quick Text Styling*/

/*#region Headers */

.title {
    font-weight: bolder;
    font-size: 2rem;
}

.header {
    font-size: 1.5rem;
}

.subscript {
    font-size: 0.8rem;
    opacity: 0.8;
}

/*#endregion Headers */

.warn {
    color: var(--warn);
}

.error {
    color: var(--error);
}

/*#endregion Quick Attributes*/